* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 48px;
    margin: 24px;
    background-color: rgb(48, 74, 116);
}

.conteudo {
    background-color: white;
    margin: 16px;
    padding: 24px;
    border-radius: 8px;
}

.sugestoes-de-signatarios {
    background-color: #F4F9FF;
    padding: 16px;
    min-height: 400px;
}

.sugestoes_titulo {
    color: #424242;
    font-size: 16px;
}